/**
 * Copyright 2014 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 ::-moz-focus-inner,
:active,
:focus {
    outline: 0;
    border: 0;
    -moz-outline-style: none
}

.ima-ad-container {
    top: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%
}

.ima-ad-container>div:first-of-type {
    width: 100%!important;
    height: 100%!important
}

.video-js.vjs-playing .bumpable-ima-ad-container {
    margin-top: -40px
}

.video-js.vjs-user-inactive.vjs-playing .bumpable-ima-ad-container {
    margin-top: 0
}

.video-js.vjs-paused .bumpable-ima-ad-container,
.video-js.vjs-playing:hover .bumpable-ima-ad-container,
.video-js.vjs-user-active.vjs-playing .bumpable-ima-ad-container {
    margin-top: -40px
}

.video-js.vjs-user-inactive.vjs-playing .ima-controls-div {
    bottom: 33px!important;
    padding: 0;
    margin: 0
}

.ima-controls-div,
.ima-seek-bar-div {
    bottom: 0;
    width: 100%;
    position: absolute
}

.ima-controls-div {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4));
    height: 38px;
    left: 0;
    right: 0;
    text-align: right;
    padding: 0;
    opacity: 1;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    display: none;
    z-index: 97
}

.ima-countdown-div {
    line-height: 33px;
    padding: 0 10px;
    float: left;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-size: 12px
}

.ima-seek-bar-div {
    height: 4px;
    margin: 0;
    background-color: transparent;
    max-width: 100%
}

.ima-seek-bar-div:before {
    background-color: rgba(255, 255, 255, .3);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
    cursor: pointer
}

.ima-progress-div {
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    background: #FC0
}

.ima-fullscreen-div,
.ima-mute-div,
.ima-non-fullscreen-div,
.ima-non-mute-div,
.ima-play-pause-div {
    position: relative;
    vertical-align: top;
    line-height: 33px;
    font-family: nuevo;
    text-align: center;
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: block!important;
    cursor: pointer;
    width: 40px
}

.ima-play-pause-div {
    float: left;
    font-size: 21px;
    left: 2px
}

.ima-play-pause-div:bfore {
    content: "\e902";
    font-size: 20px;
    left: 5px
}

.ima-slider-div {
    height: 40px;
    background-color: #555;
    margin-right: 3px;
    display: none!important
}

.ima-slider-level-div {
    width: 100%;
    height: 40px;
    background-color: #00b1ff;
    display: none!important
}

.ima-fullscreen,
.ima-non-fullscreen {
    float: right;
    font-size: 21px;
    right: 5px
}

.ima-muted,
.ima-non-muted {
    font-size: 21px;
    float: right
}

.ima-playing:before {
    content: "\f101"
}

.ima-paused:before {
    content: "\f103"
}

.ima-non-muted:before {
    content: "\f107";
    font-family: nuevo
}

.ima-muted:before {
    content: "\f104";
    font-family: nuevo
}

.ima-non-fullscreen:before {
    content: "\f108"
}

.ima-fullscreen:before {
    content: "\f109"
}