body,
html {
    height: 100%
}

.submain,
html {
    min-height: 100%
}

.table h3,
h1,
h2,
h3,
h4 {
    font-weight: 400
}

*,
.feature-bar img,
.nav-toggle:after,
:after,
:before,
div,
footer,
header,
html,
main,
section {
    box-sizing: border-box
}

.basket .num,
.btn,
.btn-checkout:before,
.cart-pp,
.footer .global-row ul li,
.nuevo-footer,
.nuevo-menu,
.preview-heading,
.table h2,
.table h3,
.tct,
.text-center,
.try-it {
    text-align: center
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

@font-face {
    font-family: devel;
    src: url(/fonts/devel.eot?pk6poy);
    src: url(/fonts/devel.eot?pk6poy#iefix) format('embedded-opentype'), url(/fonts/devel.ttf?pk6poy) format('truetype'), url(/fonts/devel.woff?pk6poy) format('woff'), url(/fonts/devel.svg?pk6poy#devel) format('svg');
    font-weight: 400;
    font-style: normal
}

a:active,
a:hover,
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 0!important
}

.col-black {
    color: #222!important
}

html {
    font-size: 15px;
    color: #484848;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Verdana, sans-serif;
    background: #f2f5f9
}

.os-20,
h1,
h2 {
    font-family: Oswald
}

.no-scroll {
    overflow-y: hidden;
    width: 100%
}

a {
    text-decoration: none;
    outline: 0;
    color: #900
}

.pseudo-link {
    color: #ec0041;
    cursor: pointer
}

.plu-link {
    color: #900
}

.plu-link:hover {
    text-decoration: underline
}

.os-20 {
    font-size: 20px
}

.req:after {
    content: "*";
    padding-left: 3px;
    color: #c00
}

img {
    border: 0
}

h1 {
    font-size: 32px
}

.table {
    display: table;
    margin: 0 auto
}

.table h3 {
    font-family: Oswald, sans-serif
}

.frame {
    padding: 10px;
    border: 1px solid #900;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 10px auto
}

.dwide {
    width: 100%;
    background: #fff;
    color: #222;
    padding: 30px 0 20px
}

.bg-blue,
.bg-gold,
.bg-pink,
.btn,
.btn-pink {
    color: #fff
}

.iblock1 {
    max-width: 1000px;
    margin: 40px auto;
    width: 100%;
    padding: 0 10px;
    font-family: Lato, Arial, sans-serif;
    display: table
}

.nv-version .av:before,
.nv-version .notav:before {
    font-family: devel;
    padding-right: 15px;
    display: table-cell
}

.iblock1 .icol {
    width: 50%;
    float: left;
    padding: 0 15px;
    line-height: 1.7em;
    overflow: hidden;
    font-size: 16px
}

.iblock1 .icol h2 {
    font-size: 28px
}

.iblock1 .fimg {
    width: 100%;
    height: auto;
    min-width: 400px
}

.iblock1 .ilogo {
    display: block;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 148px;
    min-width: 148px;
    max-width: 148px;
    height: auto
}

.arr-down,
.iblock1 .inblock {
    display: inline-block
}

.iblock1 .btn {
    background: #eb1363;
    padding: 12px 14px;
    margin: 0 2px;
    margin-bottom: 10px;
    width: 100px
}

.iblock1 .btn:hover {
    background: #c90251
}

.arr-down {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin-left: 5px;
    padding: 2px!important;
    width: 6px;
    transform: rotate(45deg) translateY(-4px);
    -webkit-transform: rotate(45deg) translateY(-4px);
    -moz-transform: rotate(45deg) translateY(-4px)
}

.amn {
    padding: 0!important
}

.full-block {
    display: block
}

.bg-blue {
    background: #128DEB
}

.bg-pink {
    background: #eb1363
}

.bg-gold {
    background: #fc0
}

.col-33 {
    width: 33.3%;
    float: left;
    padding: 0 10px;
    vertical-align: top
}

.nv-version .summ {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: contents
}

.nv-version {
    padding: 15px 20px;
    background: #f5f5f5;
    font-size: 14px;
    min-height: 485px
}

.nv-version ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.nv-version li {
    display: table
}

.nv-version span {
    display: table-cell
}

.nv-version .av:before {
    content: "\f00c";
    color: #0c0
}

.nv-version .notav:before {
    content: "\f00d";
    color: #c00
}

.clearfix::after {
    display: block;
    content: "";
    clear: both
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: .1875rem;
    -border-border-radius: .1875rem;
    -moz-border-radius: .1875rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    padding: 10px 14px;
    transition: 150ms ease-in-out;
    transition-property: background-color, color;
    white-space: nowrap;
    word-spacing: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #128DEB
}

.nav-container .nav,
.nav-container .nav .logo {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease
}

.btn:hover {
    background-color: #204060
}

.btn-loader:hover {
    background-color: #128DEB
}

.btn-pink {
    background-color: #ec0041
}

.btn-pink:hover {
    background-color: #97052d
}

.btn-dark:hover {
    color: #000
}

.btn-dark2 {
    background: #303f53
}

.btn-dark2:hover {
    background: #4B5C78
}

.btn-shopping,
.btn-shopping:hover {
    background: 0 0
}

.btn-shopping {
    color: #222;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-top: 20px
}

.btn-checkout {
    width: 100;
    margin-top: 20px
}

.btn-checkout:before {
    font-family: devel;
    content: "\f09c";
    font-size: 16px;
    padding-right: 8px;
    vertical-align: top
}

.cart-pp img {
    width: 80%;
    height: auto;
    margin-top: 20px
}

.cart .btn {
    padding: 15px 14px;
    font-family: Oswald;
    font-size: 16px;
    display: block;
    width: 100%
}

.checkmark2:after,
.checkmark:after {
    content: '';
    width: 6px;
    height: 12px;
    transform: rotate(45deg)
}

.btn-navy {
    background: #128DEB;
    color: #fff
}

.btn-navy:hover {
    background: #204060
}

.btn-dark {
    background: #303f53
}

.btn-dark:hover {
    background: #bdc3c7
}

.checkmark {
    display: inline-block;
    padding-right: 8px
}

.checkmark:after {
    display: block;
    border: solid #fff;
    border-width: 0 2px 2px 0
}

.keyfeat {
    display: table;
    margin: 0 auto;
    padding: 15px;
    background: #f0f0f0
}

.keyfeat ul {
    list-style: none
}

.checkmark2 {
    display: inline-block;
    padding-right: 15px
}

.checkmark2:after {
    display: block;
    border: solid #090;
    border-width: 0 2px 2px 0
}

.deny:after,
.deny:before {
    content: '';
    width: 14px;
    display: inline-block;
    height: 2px;
    background: #fff;
    vertical-align: middle;
    margin-top: -3px
}

.deny:before,
.scroll-top:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}

.deny {
    display: inline-block;
    padding-right: 5px
}

.deny:before {
    transform: rotate(45deg)
}

.deny:after {
    margin-left: -14px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mail:before {
    font-family: devel;
    content: "\f003";
    padding-right: 8px;
}

.basket,
.signin {
    vertical-align: top
}

body,
button,
input {
    -webkit-font-smoothing: antialiased
}

.footer-static {
    position: fixed;
    bottom: 0
}

.footer {
    width: 100%;
    background: #000;
    padding: 40px 0;
    text-align: center
}
.footer .rules {
	margin: 30px 0 10px 0;
}
.footer .rules a {
	color:#ccc;
	padding:0 10px;
	border-left:solid 1px #ccc;
}
.footer .rules a:first-child {
	border-left:0;
}

.footer .global-row {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    max-width: 1200px
}

.footer .global-row .col {
    display: inline-block;
    list-style: none;
    width: 23%;
    margin: 0 1%
}

.footer .global-row ul {
    display: table;
    max-width: 250px;
    margin: 0 auto;
    padding: 0
}

.footer .global-row ul li a p,
.footer .global-row ul li p {
    display: inline-block;
    border-bottom: solid 1px #999;
    padding-bottom: 2px;
    margin: 0;
    font-weight: 700
}

.footer .global-row ul li {
    list-style: none
}

.footer .global-row ul li a {
    text-decoration: none;
    outline: 0;
    color: #e5e5e5;
    font-size: 14px
}

.footer .global-row ul li p {
    color: #fff;
    font-size: 14px
}

.footer .global-row ul li span {
    display: block;
    margin-top: 8px;
    border: none;
    padding: 0;
    font-size: 13px;
    color: #bbb
}

.footer .global-row ul li span a {
    font-size: 13px;
    color: #bbb
}

.footer .global-row ul li span a:hover {
    color: #fff;
    border-bottom: solid 1px #999
}

.footer .global-row ul li a:hover p {
    border-bottom: solid 1px #ec0041
}

.footer .global-row ul li a span {
    display: block;
    margin-top: 8px;
    border: none;
    padding: 0;
    font-size: 13px;
    color: #bbb
}

.footer .global-row ul li a span a {
    color: #555;
    font-style: italic;
    font-size: 13px
}

.footer .copyright {
    margin: 15px auto;
    font-size: 13px;
    color: #666
}

.head-right {
    position: absolute;
    top: 8px;
    right: 10px
}

.nuevo-menu {
    margin: 0;
    background: #484848;
    padding: 0;
    line-height: 30px;
    font-size: 11px;
    width: 100%;
    z-index: 1600
}

.nuevo-nav {
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.nuevo-nav li {
    display: inline-block;
    border-bottom: solid 1px #666
}

.nuevo-nav li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: block
}

.basket,
.nuevo-nav .active,
.signin {
    display: inline-block
}

.nuevo-nav .active {
    padding: 0 10px;
    background: #f2f5f9;
    color: #222;
    border-bottom: solid 1px #f2f5f9
}

.basket .num,
.signin {
    background: #eb1363;
    cursor: pointer
}

.nav-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 53px
}

.preview-heading {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    font-size: 35px;
    text-shadow: 1px 1px 1px #000;
    font-family: Lato, Arial, sans-serif
}

.signin {
    z-index: 98;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    padding: 4px 8px;
    margin-right: 8px
}

.basket {
    font-family: devel;
    color: #fff;
    font-size: 20px;
    position: relative;
    padding-right: 10px;
    margin: 0 10px;
    padding-top: 5px
}

.basket:before {
    content: "\e900"
}

.basket .num {
    font-family: arial;
    font-size: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    line-height: 16px;
    right: 2px;
    bottom: -3px
}

.nv-hidden {
    display: none
}

.nav-container .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1601;
    width: 100%;
    background: 0 0;
    padding: 28px 40px 8px;
    display: flex;
    transition: all .3s ease;
    cursor: pointer;
    min-height: 55px;
    border: 0
}

.nav-container .nav .nav-expanded {
    display: block!important
}

.nav-container .nav-no-scroll {
    height: 100%;
    background: rgba(37, 37, 37, .6);
    overflow-y: scroll
}

.nav-container .nav-top {
    padding: 5px 10px 8px;
    background: #333;
    min-height: 53px
}

.nav-container .nav-top .nav-menu {
    background: 0 0!important
}

.nav-container .nav-top .logo img {
    width: 75%!important
}

.nav-container .nav-top li a,
.nav-container .nav-top li span {
    color: #fff!important;
    text-shadow: none!important;
    position: relative!important
}

.menu-logged ul .cli,
.nav-container .nav-top .level2 li a {
    color: #222!important
}

.nav-container .nav .nav-menu {
    height: 40px;
    margin: 0 auto
}

.nav-container .nav ul li .level2 {
    position: absolute;
    display: none;
    left: 0;
    top: 40px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    overflow: hidden
}

.nav-container .nav ul li .level2 li {
    white-space: nowrap;
    width: 100%
}

.nav-container .nav ul li .level2 li:hover {
    background: #f2f5f9
}

.nav-container .nav ul li .level2 li a {
    color: #222;
    text-shadow: none;
    line-height: 2.2em
}

.nav-container .nav ul li .level2 li a:hover:before {
    content: "";
    visibility: hidden
}



.nav-container .nav ul {
    padding: 0;
    line-height: 40px;
    margin: 0 auto;
    display: flex
}

.nav-container .nav li {
    float: left;
    list-style: none;
    padding: 0;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    color: #fff
}

.nav-container .nav li a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    outline: 0;
    padding: 0 30px
}

.nav-container .nav li a:hover {
    color: #fff;
    text-decoration: none
}

.nav-container .nav li span {
    padding: 0 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

.nav-container .nav .logo {
    margin-right: 30px;
    margin-left: 0;
    background: 0 0;
    padding: 0;
    position: absolute;
    top: 25px;
    left: 35px;
    overflow: hidden;
    transition: all .3s ease
}

.nav-container .nav-top .logo {
    left: 15px;
    top: 5px
}

.nav-container .nav .logo img {
    height: auto;
    width: 100%;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

.nav-container .nav-preview {
    max-height: 24rem;
    min-height: 24rem;
    height: 24rem;
    overflow: hidden;
    width: 100%;
    background: url(/images/intro.jpg) 50% 50%/cover no-repeat
}

.nav-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0
}

.expand-off:after {
    border: solid #222;
    border-width: 0 1px 1px 0;
    display: none;
    padding: 2px;
    transform: rotate(-45deg) translateY(-50%);
    transition: all .15s;
    margin-left: 8px;
    content: "";
    vertical-align: middle
}

.expand-open:after {
    transform: rotate(45deg) translateY(-50%)
}

.scroll-top {
    background: rgba(0, 0, 0, .7);
    border: 0;
    color: #fff;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 36px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    bottom: 30px;
    right: 10px;
    position: fixed
}

.scroll-top:after,
.scroll-top:before {
    height: 2px;
    width: 20px;
    background: #fff;
    display: block
}

.scroll-top:before {
    margin-top: 17px;
    margin-left: 5px;
    content: '';
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg)
}

.scroll-top:after {
    margin-top: -2px;
    margin-left: 17px;
    border: 0;
    content: '';
    transform: rotate(50deg)
}

.nav-toggle:after,
.nav-toggle:before {
    margin-left: 10px;
    content: ''
}

.nav-toggle {
    background: 0 0;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 36px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.nav-toggle:before {
    margin-top: 6px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff
}

.nav-toggle:after {
    margin-top: 5px;
    display: block;
    height: 9px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff
}

.nav-toggle-opened:after {
    margin-top: -2px;
    border: 0;
    height: 2px;
    width: 20px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-toggle-opened:before {
    margin-top: 17px;
    background: #fff;
    width: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.nuevo-footer {
    background: #e5e5e5;
    color: #000;
    font-family: Oswald, serif;
    font-weight: 400;
    width: 100%;
    padding: 0 15px
}

.nuevo-footer .wrap {
    padding: 0;
    font-size: 28px;
    display: inline-block;
    margin: 30px 0
}

.nuevo-footer .wrap .get {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 0 10px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    vertical-align: middle
}

.article,
.log {
    line-height: 1.75em
}

.nuevo-footer.wrap .offer {
    display: inline-block;
    padding-right: 20px
}

.container {
    width: 100%
}

.bwhite {
    background: #fff
}

.feature-bar {
    max-width: 1100px;
    margin: 10px auto
}

.feature-bar img {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin: 20px 0
}

.log .options .sep,
.try-it {
    height: 20px
}

.media-left {
    float: left;
    width: 65%;
    display: inline-block
}

.media-left-full {
    width: 100%
}

.media-right {
    float: left;
    width: 35%;
    min-width: 250px;
    padding: 0 10px 0 15px
}

.media-right-full {
    width: 100%;
    margin: 10px 0
}

.article,
.log,
.page-in {
    margin: 0 auto
}

.page-in {
    max-width: 960px;
    padding: 0 5px;
    width: 100%;
    display: table
}
.term {
    max-width: 1130px;
    padding: 0 15px;
	line-height:1.75em;
	margin:0 auto;
}
.article {
    max-width: 1130px;
    padding: 0 15px 40px
}

.article h2, .term h2 {
    font-size: 1.6em;
    padding: 10px 0
}

.log {
    max-width: 820px;
    padding: 5px 10px
}

.log h2 {
    margin-bottom: 5px;
    font-size: 1.6em
}

.log h3 {
    font-size: 20px;
    font-family: Oswald, Arial, sans-serif
}

.log .options {
    list-style-type: none;
    line-height: 33px;
    margin: 0;
    padding: 0
}

.log .options li {
    padding-left: 10px
}

.log .dkr {
    background: #f0f0f0
}

.log .options span {
    font-weight: 700
}

.log .options i {
    font-size: .9em
}

.color-rust {
    color: #900
}

.try-it {
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
    width: 42px;
    background: #2a0;
    color: #fff!important;
    margin-right: 12px!important;
    display: inline-block!important;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    float: right;
    margin-top: 7px
}

.try-it:before {
    content: 'Try it!'
}

.wiki {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: pre\9;
    background: #f0f0f0;
    border: 1px solid #fff;
    color: #500;
    font-size: .9em;
    line-height: 1.5em;
    margin: 10px 0;
    padding: 5px 20px;
    text-align: left;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em
}

.h1sub,
.order-info,
.ramka,
.vastevents {
    text-align: center
}

.wiki-wh {
    border: 1px solid #e5e5e5
}

.wiki mark {
    color: #a9a9a9;
    padding-left: 15px;
    background: transparent
}

.wiki-comment {
    color: #a9a9a9;
    padding-left: 15px
}

input[type=password],
input[type=text],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: .1875rem;
    -webkit-border-radius: .1875rem;
    -moz-border-radius: .1875rem;
    border: 1px solid #e5e5e5;
    box-sizing: border-box
}

input[type=text],
select:focus {
    border: 1px solid #e5e5e5
}

select {
    min-width: 150px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center
}

.label {
    display: block;
    margin-top: 5px
}

.em-us {
    width: 40%;
    min-width: 190px
}

.feedback {
    width: 100%;
    background: #f5f5f5;
    padding: 20px;
    margin: 20px 0
}

.mark {
    color: #006CDF;
    font-weight: 700
}

.show-off {
    max-width: 1120px;
    width: 100%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 15px 10px;
    display: table
}

.show-off .column-title {
    text-align: center;
    padding: 8px 0;
    background: #128DEB;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: serif;
    font-size: 1.2em
}

.show-off .column-left {
    width: 50%;
    float: left;
    padding-right: 15px;
    border-right: solid 1px #e5e5e5;
    margin-bottom: 20px
}

.show-off .column-right {
    width: 50%;
    float: left;
    padding-left: 15px;
    margin-bottom: 20px
}

.show-off .item {
    padding: 8px
}

.show-off .item a {
    color: #666;
    text-decoration: none;
    font-style: italic;
    font-size: .9em
}

.show-off .item:hover {
    background: #f5f5f5
}

.show-off .item a span {
    display: block;
    font-size: 20px;
    font-family: Oswald, sans-serif;
    color: #222;
    font-style: normal
}

::placeholder {
    color: #a5a5a5;
    opacity: 1
}

.wd-900 {
    max-width: 900px
}

.wd-100 {
    width: 100%
}

.wd-150p {
    width: 150px
}

.wd-800 {
    width: 800px
}

.m-b-0 {
    margin-bottom: 0!important
}

.m-b-5 {
    margin-bottom: 5px!important
}

.m-b-10 {
    margin-bottom: 10px!important
}

.m-b-20 {
    margin-bottom: 20px!important
}

.m-b-30 {
    margin-bottom: 30px!important
}

.m-b-40 {
    margin-bottom: 40px!important
}

.m-b-60 {
    margin-bottom: 60px!important
}

.m-t-0 {
    margin-top: 0!important
}

.m-t-5 {
    margin-top: 5px!important
}

.m-t-10 {
    margin-top: 10px!important
}

.m-t-20 {
    margin-top: 20px!important
}

.m-t-30 {
    margin-top: 30px!important
}

.m-t-40 {
    margin-top: 40px!important
}

.m-t-50 {
    margin-top: 50px!important
}

.p-t-30 {
    padding-top: 30px!important
}

.p-t-20 {
    padding-top: 20px
}

.color-red {
    color: #ec0041
}

.br_logo {
    float: left;
    max-width: 120px;
    margin-right: 25px;
    vertical-align: top;
    height: auto;
    border: 0
}

.nuevo-container {
    border: 0;
    margin-top: 0;
    padding: 0
}

.pl-form,
.pl-form .action {
    display: table;
    margin: 20px auto
}

.pl-form {
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    border-top: solid 1px #e5e5e5
}

.toggle {
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px #e5e5e5;
    display: block
}

.toggle input[type=checkbox] {
    display: none
}

.slide-toggle,
.toggle span {
    display: inline-block
}

.slide-toggle {
    position: relative;
    flex: none;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background-color: #d7d2cb;
    cursor: pointer;
    transition: all .1s ease-in-out;
    z-index: 1;
    float: right
}

.slide-toggle::after,
.slide-toggle::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 1px;
    border-radius: 30px;
    height: 28px;
    background-color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: .2s cubic-bezier(0, 1.1, 1, 1.1)
}

.slide-toggle::before {
    z-index: -1;
    width: 48px;
    right: 1px;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.slide-toggle::after {
    z-index: 1;
    width: 28px;
    left: 1px;
    box-shadow: 0 1px 4px .5px rgba(0, 0, 0, .25)
}

.toggle input:checked+.slide-toggle {
    background-color: #4dde5e
}

.toggle input:checked+.slide-toggle::before {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.toggle input:checked+.slide-toggle::after {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0)
}

.fmp4 {
    color: #900;
    font-weight: 700;
    font-style: italic
}

.ramka {
    padding: 8px;
    border: 1px solid #c00
}

.vastevents {
    max-width: 960px;
    width: 100%;
    color: #222;
    padding: 4px 8px;
    border: 1px solid #ccc;
    line-height: 30px;
    margin: 0 auto
}

.vastevents span {
    color: #fff;
    background: #c00;
    padding: 1px 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 8px;
    line-height: 20px;
    font-size: .9em;
    display: inline-block
}

.h1sub {
    color: #900
}

.c-t {
    cursor: text!important
}

.f-13 {
    font-size: 13px
}

.f-err {
    font-size: 12px;
    color: #c00;
    font-weight: 700;
    display: none
}

.cart,
.cart .form {
    display: flex
}

.cart .form {
    flex: auto;
    padding: 0 15px
}

.cart .form .err {
    background: #c00;
    color: #fff;
    padding: 3px 10px;
    display: none;
    font-size: 14px
}

.cart .summary {
    display: inline-block;
    width: 300px;
    padding: 0 10px
}

.cart .formcontrol input[type=text],
.cart .formcontrol input[type=password],
.cart .udetail {
    display: block;
    width: 90%
}

.under-d {
    border-bottom: solid 1px #555;
    margin-top: 0
}

.cart .udata {
    margin-top: 25px
}

.cart .formcontrol label {
    font-family: Oswald;
    font-size: 20px;
    display: block;
    margin-top: 10px
}

.cart .formcontrol .info {
    font-size: 12px;
    display: block
}

.cart .incart,
.cart .subtotal,
.cart .summary .price {
    font-family: Oswald;
    font-size: 20px
}

.cart .udetail {
    background: #f5f5f5;
    padding: 10px 10px 20px 20px;
    display: b;
    margin-top: 10px
}

.cart .subtotal {
    display: inline-block
}

.cart .summary .price {
    float: right;
    font-weight: 700
}

.cart .incart {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px
}

.cart .in-cart {
    font-size: 12px;
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px
}

.cart .rem,
.errors {
    background: #c00;
    color: #fff
}

.cart .in-cart .item {
    display: flex;
    padding: 10px 5px;
    border-bottom: solid 1px #ccc;
    line-height: 20px
}

.cart .in-cart .item:last-child {
    border: 0
}

.cart .rem {
    padding: 0 3px;
    cursor: pointer;
    display: block;
    line-height: 18px;
    margin-top: 5px
}

.cart .in-cart .item-name {
    display: flex;
    flex: auto
}

.order-info {
    display: table;
    max-width: 95%;
    margin: 40px auto;
    font-size: 12px;
    padding: 8px;
    border: 1px solid #c00
}

.cart .in-cart .item-price {
    display: inline-block;
    text-align: right;
    margin-left: 30px;
    font-weight: 700;
    white-space: nowrap
}

.errors,
.errors span {
    display: block
}

.errors {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px
}

.pad-tb-80 {
    padding: 80px 0
}

.pad-tb-10-30 {
    padding: 10px 0 30px
}

.blog-page {
    max-width: 1200px;
    margin: 20px auto;
    min-width: 320px;
    width: 100%;
    display: flex
}

.blog-left {
    flex: auto;
    padding: 0 2rem;
    margin-bottom: 50px
}

.blog-left article {
    width: 95%;
    margin-top: 40px;
    border-top: solid 1px #ccc;
    padding-top: 30px
}

.blog-left article h1 {
    margin: 0 0 10px
}

.blog-left .more {
    text-align: center;
    margin-top: 10px
}

.blog-left .break {
    height: 10px
}

.blog-left article:first-child {
    margin-top: 0;
    border-width: 0
}

.blog-left article h2 {
    margin: 0 0 15px;
    font-size: 33px
}

.blog-left article h2 a {
    color: #444
}

.blog-left article .post-date {
    color: #777;
    margin-bottom: 10px;
    font-size: 13px
}

.blog-right {
    display: inline-block;
    width: 300px;
    padding: 40px 15px 30px 25px;
    min-width: 300px;
    background: #fff
}

.blog-content {
    line-height: 1.8em
}

.blog-content p {
    margin: 0 0 7px
}

.blog-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto
}

.blog-content .img-left {
    margin: 0 20px 15px 0;
    float: left
}

.blog-content .img-right {
    margin: 0 0 15px 20px;
    float: righ
}

.blog-left .sharing {
    margin: 15px 0 20px
}

.blog-left .sharing .share {
    width: 36px;
    height: 37px;
    display: inline-block;
    margin: 0 4px;
    background-repeat: no-repeat;
    cursor: pointer
}

.facebook {
    background: url(/images/share/facebook.png)
}

.twitter {
    background: url(/images/share/twitter.png)
}

.linked {
    background: url(/images/share/linkedin.png)
}

.vk {
    background: url(/images/share/vk.png)
}

.reddit {
    background: url(/images/share/reddit.png)
}

.user-box {
    display: table;
    margin: 0 auto;
    min-width: 280px;
    width: 100%;
    max-width: 600px;
    padding: 40px
}

.user-box .errno {
    color: #fff;
    background: #c00;
    width: 100%;
    padding: 4px;
    margin-top: 4px;
    font-size: 13px;
    text-align: center
}

.user-box input[type=password],
.user-box input[type=submit],
.user-box input[type=text],
.user-box textarea {
    width: 100%;
    line-height: 25px;
    margin-top: 25px;
    border-color: #9da3a6;
    direction: ltr
}

.user-box input[type=password]:focus,
.user-box input[type=text]:focus,
.user-box textarea:focus {
    border-color: #128DEB
}

.user-box input[type=submit] {
    font-weight: 700;
    font-size: 15px
}

.login-forgot {
    text-align: center;
    margin-top: 20px
}

.login-forgot a {
    color: #000
}

.login-forgot a:hover {
    text-decoration: underline
}

.menu-logged {
    width: 41px;
    color: #fff;
    background-image: url(/images/client.png);
    background-repeat: no-repeat;
    height: 30px;
    display: inline-block;
    margin: 4px 10px 0 5px;
    vertical-align: top;
    position: relative
}

.menu-logged ul {
    position: absolute;
    top: 30px;
    font-family: Arial;
    line-height: 25px;
    background: #fff;
    margin: 0!important;
    padding: 0;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .7);
    right: 0!important;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
    display: none!important;
    min-width: 0!important;
    left: auto!important
}

.menu-logged ul .cli {
    list-style: none;
    padding: 0 14px!important;
    line-height: 28px!important;
    white-space: nowrap;
    font-family: Arial, sans-serif!important;
    font-size: 13px!important;
    width: 100%;
    text-transform: none;
    border: 0!important
}

.menu-logged ul .cli a {
    text-shadow: none;
    color: #222!important;
    text-align: left;
    padding: 0!important;
    width: 100%;
    display: block
}

.icon-cart:before,
.icon-pp:before,
.msg-cart:before,
.msg-error:before,
.msg-info:before,
.msg-user:before {
    padding-right: 10px;
    margin-left: -20px
}

.menu-logged ul .cli:hover {
    background: #f5f5f5
}

.menu-logged ul .cli a:before {
    background: 0 0
}

.nv-message {
    position: fixed;
    background: rgba(54, 70, 93, .95);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    font-family: Arial;
    color: #fff;
    overflow: hidden;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%
}

.nv-message h2 {
    font-size: 30px;
    color: #fff
}

.msg-error:before {
    font-family: devel;
    content: "\f071"
}

.msg-cart:before {
    font-family: devel;
    content: "\e900"
}

.msg-info:before {
    font-family: devel;
    content: "\f05a"
}

.msg-user:before {
    font-family: devel;
    content: "\f2c0"
}

.icon-cart:before {
    font-family: devel;
    content: "\e900"
}

.icon-pp:before {
    font-family: devel;
    content: "\f1ed"
}

.icon-client:before {
    font-family: devel;
    content: "\f085";
    color: #fff
}

.nv-message .close {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: .6;
    text-align: center;
    font-size: 27px!important;
    line-height: 14px!important;
    z-index: 1
}

.nv-message .box {
    position: relative;
    margin-left: 33.333333%;
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle
}

.nv-message .close:hover {
    opacity: 1
}

.nv-message .action {
    margin: 20px auto 0
}

.nv-message .msg {
    line-height: 2em
}

.nv-message .msg-btn {
    font-size: 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #303f53;
    text-shadow: none;
    border: none;
    color: #fff;
    padding: 10px;
    min-width: 100px;
    display: inline-block;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    text-align: center;
    margin: 0 5px
}

.nv-message .msg-btn:hover {
    background: #bdc3c7;
    color: #000
}

.nv-message .btn-rev {
    background: #bdc3c7;
    color: #222
}

.nv-message .btn-rev:hover {
    background: #D7DBDD
}

.icon-help {
    font-family: devel;
    font-style: normal;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    vertical-align: top
}

.icon-help:before {
    content: '\f059'
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block
}

.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    display: none
}

.sprite-result {
    display: none;
    padding: 0 15px
}

.sprite-result p {
    font-weight: 700;
    text-align: left;
    padding: 0;
    margin: 10px 0 0
}

.sprite-ramka {
    margin: 35px auto;
    max-width: 600px
}

.sprite-error {
    background: #c00;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 15px;
    display: none
}

@media screen and (max-width:880px) {
    .col-33 {
        width: 100%
    }
    .nv-version {
        min-height: 0
    }
    .nav-container .nav {
        padding: 5px 10px 8px
    }
    .nav-container .nav li a,
    .nav-container .nav li span {
        color: #222!important;
        text-shadow: none;
        padding: 0 20px
    }
    .nav-container .nav .nav-menu {
        display: none;
        background: 0 0
    }
    .menu-logged ul .cli {
        font-size: 14px!important;
        line-height: 30px!important
    }
    .nav-toggle {
        display: inline-block
    }
    .nav-container .nav .logo {
        top: 5px;
        left: 15px
    }
    .nav-container .nav .logo img {
        width: 65%
    }
    .nav-container .nav ul {
        position: absolute;
        flex-direction: column;
        right: 10px;
        margin-top: 50px;
        background: #fff;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
        min-width: 12rem
    }
    .nav-container .nav li {
        font-size: 20px
    }
    .nav-container .nav ul li:hover .level2 {
        display: none
    }
    .nav-container .nav li a:before {
        background-color: transparent
    }
    .expand-off:after {
        display: inline-block
    }
    .nav-container .nav ul li .level2 {
        position: relative;
        margin-top: 0;
        top: 0;
        box-shadow: none;
        background: #fff;
        line-height: 32px
    }
    .nav-container .nav li .level2 li {
        float: none
    }
    .nav-container .nav li .level2 li a {
        padding: 0 20px 0 35px;
        font-size: 18px
    }
}

.key-fea {
    text-align: center;
    padding: 20px 10px;
    color: #666;
    font-size: 18px;
    max-width: 640px;
    display: table;
    margin: 0 auto;
    font-family: Lato
}

#upload_container,
.tester {
    max-width: 600px;
    width: 100%
}

.key-fea h1 {
    font-size: 44px;
    font-weight: 400;
    color: #777;
    margin-bottom: 10px;
    margin-top: 0
}

.ani-btn,
.ani-grey {
    margin-bottom: 20px
}

.ani-btn {
    position: relative;
    background: 0 0;
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    border: .2em solid #777;
    padding: .5em 1em;
    display: inline-block;
    cursor: pointer
}

.ani-btn:after,
.ani-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    height: .3em
}

.ani-grey {
    background: #fff!important
}

.ani-btn:before {
    background: #fff;
    right: 20%;
    top: -.21em;
    transform: skewX(-45deg);
    -webkit-transition: all .45s cubic-bezier(.86, 0, .07, 1);
    transition: all .45s cubic-bezier(.86, 0, .07, 1)
}

.ani-btn:after {
    background: #fff;
    left: 20%;
    bottom: -.25em;
    transform: skewX(45deg);
    -webkit-transition: all .45 cubic-bezier(.86, 0, .07, 1);
    transition: all .45s cubic-bezier(.86, 0, .07, 1)
}

.ani-btn:hover:before {
    right: 80%
}

.ani-btn:hover:after {
    left: 80%
}

.tester {
    display: table;
    margin: 0 auto;
    text-align: left
}

.newsletter,
.newsletter h2,
.pagination li,
.probar {
    text-align: center
}

.tester label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px
}

.tester input[type=text] {
    padding: 10px 14px;
    background: #fff;
    width: 100%
}

.tester .btn {
    margin-top: 10px;
    padding: 12px 14px
}

#upload_container {
    position: relative;
    margin: 20px auto 0
}

#upload_container #psel {
    display: none;
    border: 1px solid #aaa;
    padding: 15px 0;
    background: #fff;
    margin-bottom: 15px
}

#upload_container #psel #fname {
    margin-bottom: 10px;
    font-size: 13px
}

#upload_container #psel .btn-up {
    background-color: #ec0041;
    color: #fff;
    cursor: pointer;
    margin: 0 5px
}

#upload_container #psel .btn-cancel {
    background-color: #222;
    color: #fff;
    cursor: pointer;
    margin: 0 5px
}

#upload_container #psel #fname span {
    padding-left: 10px;
    color: #999
}

#progress {
    display: none
}

.probar {
    position: relative;
    width: 90%;
    height: 20px;
    border: 1px solid #999;
    margin: 0 auto;
    background: #f0f0f0
}

.probar .bar {
    background: #494;
    height: 16px;
    margin: 1px;
    width: 0
}

.probar span {
    position: absolute;
    top: 0;
    line-height: 28px;
    color: #000;
    font-weight: 700
}

.pagination {
    margin: 30px 0
}

.pagination ul {
    margin: 0;
    padding: 0
}

.pagination li {
    float: left;
    list-style: none;
    margin: 0 4px;
    color: #000;
    font-size: 15px
}

.pagination li a {
    padding: 7px 10px;
    border: 1px solid #999;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #000
}

.pagination li a:hover,
.pagination li span {
    border: 1px solid #128DEB;
    color: #fff;
    background: #128DEB
}

.pagination li span {
    padding: 7px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: default
}

.newsletter {
    border: 1px solid #999;
    margin-top: 20px;
    padding: 0 19px 10px 10px;
    font-size: 13px
}

.newsletter h2 {
    margin: 10px 0
}

.newsletter input[type=text] {
    width: 90%;
    margin: 20px auto;
    padding: 6px 8px;
    border-color: #ccc
}

.newsletter .agree {
    font-size: 11px;
    margin-top: 20px
}

.newsletter .lt_msg {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #0a0
}

.newsletter .lt_no {
    color: #c00
}

.newsletter .btn-lt {
    margin-top: 10px;
    width: 80px
}

@media screen and (max-width:840px) {
    .cart,
    .footer .global-row {
        display: block
    }
    .footer .global-row .col {
        width: 100%;
        margin: 10px
    }
    .cart .summary {
        width: 100%;
        margin-top: 50px
    }
    .cart .udetail {
        width: 100%
    }
}

@media screen and (max-width:680px) {
    .key-fea {
        text-align: left
    }
    .show-off .column-left,
    .show-off .column-right {
        width: 100%;
        border: 0;
        padding: 0
    }
    .pad-tb-80 {
        padding: 0
    }
}

@media screen and (max-width:750px) {
    .blog-left article,
    .media-left {
        width: 100%
    }
    .media-right {
        display: none
    }
    .blog-page {
        display: block
    }
    .blog-right {
        width: 100%;
        margin-top: 30px
    }
}

@media screen and (max-width:480px) {
    .feature-bar {
        display: none
    }
    .nav-container .nav ul {
        left: 10px;
        line-height: 50px
    }
    .nav-container .nav li .level2 li a {
        padding: 0 20px 0 55px
    }
}

@media screen and (max-width:580px) {
    .iblock1 {
        margin: 0 auto
    }
    .iblock1 .icol,
    .iblock1 .inblock {
        width: 100%
    }
    .iblock1 .btn {
        width: 60%;
        margin: 0 auto 10px;
        display: table
    }
    .feature-bar {
        display: none
    }
    .nav-container .nav-preview {
        max-height: 16rem;
        min-height: 16rem;
        height: 16rem
    }
    .preview-heading {
        font-size: 30px
    }
    .key-fea h1 {
        font-size: 34px
    }
    .key-fea {
        font-size: 20px
    }
    .iblock1 .fimg {
        min-width: 100px
    }
}