@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
html, body {
	margin:0!important;
	padding:0!important;
	background-color: #fff;
	width:100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family:Arial,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}
a { 
	color:#990000; 
	text-decoration:none;
	display:inline-block;
}
a:hover {
	text-decoration:underline;
}
h1, h2 {
	text-align:center;
    padding: 0;
    color: #121212;
    font-size: 30px;
    margin: 20px 0;
    line-height: 30px;
    font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif
}
h3 {
	text-align:center;
    padding: 0;
    color: #121212;
    font-size: 22px;
    margin: 0 0 20px 0;
    line-height: 25px;
    font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif
}
.header {
	width:100%;
	background:#000000;
	text-align:center;
	font-family:Arial,sans-serif;
	padding:5px 0 2px 0;
}
.header .menu {
	max-width:860px;
	margin:0 auto;
	position:relative;
	text-align:right;
}
.header .menu img {
	max-height:40px;
}
.browse {
	color:#ffffff;
	position:absolute;
	top:15px;
	left:15px;
	padding-bottom:10px;
}
.browse a {
	color:#ffffff; font-size:12px;
}
@media only screen and (max-width:480px) {
	.browse {
		position:relative;
		top:0;
		left:0;
	}
}
/* Player parent DIV  */
.play-parent {
	width:100%;  /* width depends on your layout and needs  */
	position:relative;
	overflow:hidden;
}
/* Semi-transparent DIV element to cover entire player */
.div-over {
	background:rgba(0,0,0,0.5);
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index:99;
	display:none;
	overflow:hidden;
}
/* Centered DIV element for our banner ad */
.overlay {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	display:inline-block;
}
/* Close button */
.over-close {
    width: 28px;
    height: 28px;
	line-height:28px;
	text-align:center;
	font-size:18px;
	font-family: sans-serif;
    position: absolute;
	top:10px;
	right:10px;
	background:#fff;
	cursor:pointer;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
.div-over .no-click {
	pointer-events:none;
}
.div-over .no-click:before, .div-over .no-click:after {
	border-width:0;
}
.over-close:after {
    content: '';
    height: 16px;
    border-left: 2px solid #222;
    position: absolute;
    transform: rotate(45deg);
    left: 13px;
	top:6px;
}

.over-close:before {
    content: '';
    height: 16px;
    border-left: 2px solid #222;
    position: absolute;
    transform: rotate(-45deg);
    left: 13px;
	top:6px;
}
.fullsize {
	width:100%; height:100%;position:relative;
}
.container {
	width:100%;
	max-width:860px;
	margin:0 auto;
	margin-top:25px;
	font-size:14px;
	text-align:left;
	line-height:1.7em;
	margin-bottom:80px;
}
.container .mark {
	color:#128DEB;
}
.container .comment {
	color:#009900;
}
.container .info {

	text-align:center;
}

video {
	width:100%!important;
	height:100%!important;
}
.media-parent {
	width: 100%;
    position: relative;
    padding-top: 56.25%;
    height: auto;
    margin-top: 15px;
}
.media-child {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: none!important;
    min-height: 0!important;
    max-width: 100%;
    width: 100%;
}
ul {
	display: table;
    line-height: 2em;
    margin: 40px auto;
	font-size:16px;
}

.footer {
    width: 100%;
    line-height:35px;
    cursor: pointer;
    background-color: #000000;
	text-align:center;
	color:#a5a5a5;
	font-family:Arial,sans-serif;
	font-size:12px;
	z-index:111;
	position:fixed;
	bottom:0;
}
.footer a {
	color:#ffff!important; 
	text-decoration:none;
}
.footer-light {
	background: #e5e5e5;
	border-top: solid 1px #fff;
	color: #333333;
}
.footer-light a {
	color:#990000!important; 
}
pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: pre\9;
    background: #e9e9e9;
    border: 1px solid #fff;
    color: #700;
    font-size: 12px;
    line-height: 1.5em;
    margin: 10px 0;
    padding: 5px 20px;
    text-align: left;
    -moz-tab-size:    4; /* Firefox 4+ */
    -o-tab-size:      4; /* Opera 11.5 & 12.1 only */
    tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}
#player_one, #player_1, #player_2  {
	width:100%; 
}
.explain {
	padding: 15px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.7em;
}
.button {
	border-radius: .1875rem;
    -border-border-radius: .1875rem;
    -moz-border-radius: .1875rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    padding: 10px 14px;
    text-align: center;
    transition: 150ms ease-in-out;
    transition-property: background-color,color;
    white-space: nowrap;
    word-spacing: normal;
    -webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
	outline:none;
    background-color: #303f53;
    color: #fff;
}
.button:hover {
    background: #bdc3c7;
    color: #000;
}
}
.autotable {
	margin:20px auto;
	display:table;
	font-weight:bold;
}